.rs-container, .rs-header, .rs-content, .rs-footer, .rs-navbar {
  background: none !important;
}
.navbar-brand {
  padding: 18px 20px;
  display: inline-block;
  text-decoration: none;
  font-size: 24px;
}
.navbar-brand:hover {
  text-decoration: none;
}
.rs-content {
  justify-content: center;
}
.main-info {
  padding: 50px;
}
.main-info-title {
  display: flex;
  justify-content: center;
  font-size: 44px;
  margin-bottom: 20px;
  text-align: center;
}
.main-info-subtitle {
  display: flex;
  justify-content: center;
  font-size: 28px;
  margin-bottom: 10px;
  text-align: center;
}